@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: color 0.1s ease-out, background 0.1s ease-out;
}

.map {
	width: 40vw;
	height: 100%;
	z-index: 10;
	position: relative;
	border-radius: 10px;
}

html {
	scroll-behavior: smooth;
}

.responsiveGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

/* ============ INPUT RANGE ========= */

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 8px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #3b82f6;
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #3b82f6;
	cursor: pointer;
}

input[type='range']:focus {
	outline: none;
}

/* ============ DESCRIPTION ========= */

.jobShortDescription,
.companyShortDescription {
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	display: -webkit-box;
}

.companyShortDescription {
	-webkit-line-clamp: 3;
	line-clamp: 3;
}

/* ============ SELECTION - FOCUS ========= */

::selection {
	background: rgb(37 99 235);
	color: white;
}
:focus-visible:not(input, select) {
	border-radius: 3px;
	outline: 4px dashed rgb(99 102 241);
	outline-offset: 4px;
}

/* ============ SCROLL-BAR ========= */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 3px solid white;
	background: rgb(79, 90, 109);
	transition: background 0.1s ease-out;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(47, 51, 66);
}

.dark ::-webkit-scrollbar-track {
	background: #1f2937;
}

.dark ::-webkit-scrollbar-thumb {
	background: gray;
}

.dark ::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 255, 255);
}

#scrollX::-webkit-scrollbar {
	height: 10px;
	opacity: 0.5;
}
